# future encoding

feature encoding is the process of converting non-numerical(or) categorical data into a numerical format that machine learning algorithms
can understand process
------->we choose the encoding technique based on:
-the type of categorical data(nominal or ordinal)
-the number of unique in a categorical column,
-and the model we plan to train

# types categorical data

In [ ]:
1.nominal data
---no order
2.ordinal data
---ordwer exists
example:
---size(small<medium<large)
---rating(low<medium<large)

# why feature encoding is important:

---text data cant be used directly in model training.
---proper encoding
   ---improves model accuracy
   ---prevents wrong assumptions
   ---makes training stable

# common feature encoding techniques

In [ ]:
1.label encoding
2.one-hot encoding
3.target encoding
4.ordinal encoding
5.frequency encoding
6.binary encoding
7.feature hashmap encoding

# 1.label encoding

---each catrgory is assigned a unique integer(e.g:"red":0,"green":).

# read the data

In [7]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    "colour": ["red","green","blue","green","red"],
    "size": ["small","medium","large","medium","large"],
    "city": ["hyderabad","delhi","mumbai","delhi","chennai"],
    "target": [10,20,15,25,12]
})
df

  colour    size       city  target
0    red   small  hyderabad      10
1  green  medium      delhi      20
2   blue   large     mumbai      15
3  green  medium      delhi      25
4    red   large    chennai      12

In [14]:
from sklearn.preprocessing import LabelEncoder

In [17]:
df["colour_label"] = LabelEncoder().fit_transform(df["colour"])
df[["colour","colour_label"]]

  colour  colour_label
0    red             2
1  green             1
2   blue             0
3  green             1
4    red             2

# one-hot encoding

---creates a new binary column for each category with a 1 indicates the presence of that category and 0 otherwise.

In [19]:
one_hot = pd.get_dummies(df["colour"],prefix="colour")
one_hot

   colour_blue  colour_green  colour_red
0        False         False        True
1        False          True       False
2         True         False       False
3        False          True       False
4        False         False        True

In [20]:
ohe = pd.get_dummies(df,columns=["colour"])
print(ohe)

     size       city  target  colour_label  colour_blue  colour_green  \
0   small  hyderabad      10             2        False         False
1  medium      delhi      20             1        False          True
2   large     mumbai      15             0         True         False
3  medium      delhi      25             1        False          True
4   large    chennai      12             2        False         False

   colour_red
0        True
1       False
2       False
3       False
4        True

# ordinal encoding

---similar to label encoding, but the integer assingment is based on the specific predefined order or rank of the categories(e.g:"low":0,"medium":1,"high":2)

In [22]:
from sklearn .preprocessing import OrdinalEncoder

In [23]:
order = [["small","medium","large"]]
df["size_Ordinal"] = OrdinalEncoder(categories=order).fit_transform(df[["size"]])

df[["size","size_Ordinal"]]

     size  size_Ordinal
0   small           0.0
1  medium           1.0
2   large           2.0
3  medium           1.0
4   large           2.0

# target encoding

In [ ]:
-each category is replaced with the "mean" of the target variable for that category

In [5]:
import pandas as pd
te = df.groupby("city")["target"].mean()
df["city_Target_Enc"] = df["city"].map(te)
df[["city","city_Target_Enc"]]

        city  city_Target_Enc
0  hyderabad             10.0
1      delhi             22.5
2     mumbai             15.0
3      delhi             22.5
4    chennai             12.0

# frequency encoding

In [ ]:
    Replaces each category with its frequency(count) in the dataset.
        Useful when the frequencey of a category is predictive of the target variable.

In [9]:
fe=df.groupby("city")["target"].count()
df["city_Target_Enc"]=df["city"].map(fe)  #method 1
df[["city","city_Target_Enc"]]

        city  city_Target_Enc
0  hyderabad                1
1      delhi                2
2     mumbai                1
3      delhi                2
4    chennai                1

In [11]:
f=df["city"].value_counts()
df["city_Target_Enc"]=df["city"].map(fe) # method 2
df[["city","city_Target_Enc"]]

        city  city_Target_Enc
0  hyderabad                1
1      delhi                2
2     mumbai                1
3      delhi                2
4    chennai                1

# binary encoding

In [ ]:
Categories are first converted to integers, then to binary code and each bit becomes a seperate column
reduces number of columns 
better than one hot coding for high cardinality
pip install category_encoders need to be installed

In [ ]:
import category_encoders as ce
d_b=ce.BinaryEncoder(cols=["City"]).fit_transform(df["City"])
d_b