### feature engineering 
      is the process of converting raw data into meaning ful features so that a ml model can understand patterns and make better predictions

### 1.feature exploration 
     -the process of analyzing and visualizing features to uncover patterns distribution correlation and potential issues in the 
     dataset before applying ml

### 2.feature creation
       -the process of generating new meaningful features from existing data using domain knowledge or mathematical operations
        to help the model earn better patterns.

### 3.feature encoding
      -the process of converting categorical or non-numeric features into numeric form so machine learning models can process 
       them effectively

### 4.feature scaling
      -the process of transformong numerical features to a standard range or distribution so that no feature dominates
       the learing process due to its scale

### 5.feature selection
        - the process of identifying and keeping only the most relevant features while removing irrelevant or redundant ones
          to improve model performance and reduce overfitting

### feature creation(adds intelligence):

### definition:
      -feature creation is the process of creating new features from existing data using domain knowledge and mathematical 
       operations to help the model learn better patterns

### why it "adds intelligence:
       * raw data may not show hidden relationships
       * new features provide extra information
       * model cannot think logically-feature guide learing

### common types of feature creation:
       * domain-based features(real-world logic)
       * mathematical combinations(sum, average, ratio)
       * interaction features(combinedeffect of features)
       * polunomial features(non-linear relationships)

### example:
    * tota_marks = math+science
    * efficiency = total_marks/study hours

### impact on model:
     * improves accuracy
     * helps models capture complex patterns
     * makes simple models perform better

### feature creation

In [1]:
import pandas as pd

df = pd.DataFrame({
    "Study_Hours":[2,4,6,8,10],
    "Attendence":[60,70,80,90,95],
    "Maths":[40,55,65,75,80],
    "Science":[42,58,68,78,88]
})

In [2]:
df

   Study_Hours  Attendence  Maths  Science
0            2          60     40       42
1            4          70     55       58
2            6          80     65       68
3            8          90     75       78
4           10          95     80       88

### domain-based feature

In [3]:
df["Total_Marks"] = df["Maths"] + df["Science"]
df

   Study_Hours  Attendence  Maths  Science  Total_Marks
0            2          60     40       42           82
1            4          70     55       58          113
2            6          80     65       68          133
3            8          90     75       78          153
4           10          95     80       88          168

### mathematical feature

In [4]:
df["Marks_per_hour"] = df["Total_Marks"] / df["Study_Hours"]
df

   Study_Hours  Attendence  Maths  Science  Total_Marks  Marks_per_hour
0            2          60     40       42           82       41.000000
1            4          70     55       58          113       28.250000
2            6          80     65       68          133       22.166667
3            8          90     75       78          153       19.125000
4           10          95     80       88          168       16.800000

### interaction feature

In [5]:
df["Study_Attendence_Interaction"] = df["Study_Hours"]*df["Attendence"]
df

,Study_Hours,Attendence,Maths,Science,Total_Marks,Marks_per_hour,Study_Attendence_Interaction
0,2,60,40,42,82,41.000000,120
1,4,70,55,58,113,28.250000,280
2,6,80,65,68,133,22.166667,480
3,8,90,75,78,153,19.125000,720
4,10,95,80,88,168,16.800000,950

### polynomial feature

In [6]:
df["Study_Hours_Squared"] = df["Study_Hours"]**2
df

,Study_Hours,Attendence,Maths,Science,Total_Marks,Marks_per_hour,Study_Attendence_Interaction,Study_Hours_Squared
0,2,60,40,42,82,41.000000,120,4
1,4,70,55,58,113,28.250000,280,16
2,6,80,65,68,133,22.166667,480,36
3,8,90,75,78,153,19.125000,720,64
4,10,95,80,88,168,16.800000,950,100

### feature selection(remove noise):
     definition:
     - feature selection is the process of selecting only relavant features and removing irrelevant or reduntant ones
       to improve model performance

### why it "remove noise":
    -too many features confuse the model
    -irrelevant featres cause overfitting
    -noise reduces prediction accuracy

### types of feature selection:
       - filter methods(correlation,chi-square)
       - wrapper methods(forward,backward,rfe)
       - embedded(lasso,tree-based models)

### example:
     -removing weakly correlated features
     -dropping features with zero importance
     -selecting to features using RFE(recursive feature elimination)

### impact on model:
      -reduce overfitting
      -improves generalization
      -speedsup training

In [7]:
x = df.drop("Science", axis=1)
y = df["Science"]

In [8]:
x

,Study_Hours,Attendence,Maths,Total_Marks,Marks_per_hour,Study_Attendence_Interaction,Study_Hours_Squared
0,2,60,40,82,41.000000,120,4
1,4,70,55,113,28.250000,280,16
2,6,80,65,133,22.166667,480,36
3,8,90,75,153,19.125000,720,64
4,10,95,80,168,16.800000,950,100

### correlation method:

In [9]:
df.corr()["Science"].sort_values(ascending=False)

Science                         1.000000
Total_Marks                     0.998981
Maths                           0.995467
Study_Hours                     0.994309
Attendence                      0.994110
Study_Attendence_Interaction    0.983804
Study_Hours_Squared             0.958102
Marks_per_hour                 -0.968737
Name: Science, dtype: float64

### selecting important features

In [10]:
corr = df.corr()["Science"].abs()

In [11]:
corr

Study_Hours                     0.994309
Attendence                      0.994110
Maths                           0.995467
Science                         1.000000
Total_Marks                     0.998981
Marks_per_hour                  0.968737
Study_Attendence_Interaction    0.983804
Study_Hours_Squared             0.958102
Name: Science, dtype: float64

In [12]:
Selected_features = corr[corr>0.8].index
Selected_features

Index(['Study_Hours', 'Attendence', 'Maths', 'Science', 'Total_Marks',
       'Marks_per_hour', 'Study_Attendence_Interaction',
       'Study_Hours_Squared'],
      dtype='object')