# train-test split

In [ ]:
train-test split is a data preparation technique where we divide the dataset into:
training data: used to train the ml model
testing data: used to evaluate how well the model performs on unseen data

# why do we need train-test split

In [ ]:
if we train and test on the same data, the model:
looks smart
fails in real world data

# train-test splits helps to:

In [ ]:
detect overfitting
measure real performance
simulate future/unseen data

real life analogy:
studying from a book(train)!= writing exam questions
you've already seen(test)

In [ ]:
common split ratio:
training testing when to use
80%      20%     standard choice
70%      30%     small dataset
90%      10%     large dataset

In [ ]:
### example:
         if N=100 and split=80:20
         train=80 samples
         test=20 samples

In [4]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [7]:
data = pd.DataFrame({
    "Study Hours":[1,2,3,4,5,6,7,8],
    "Marks": [23,34,45,46,56,54,41,55]
})
data

   Study Hours  Marks
0            1     23
1            2     34
2            3     45
3            4     46
4            5     56
5            6     54
6            7     41
7            8     55

In [8]:
x=data[["Study Hours"]]
y=data["Marks"]

In [10]:
x_train,x_test,y_train,y_text=train_test_split(x,y,test_size=0.2,random_state=40)

In [11]:
x_train

   Study Hours
2            3
4            5
0            1
5            6
3            4
6            7

In [12]:
x_test.shape

(2, 1)

In [13]:
x_train.shape

(6, 1)

# real time dataset

In [16]:
diabetes = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Diabetes.csv')

In [17]:
diabetes

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [19]:
diabetes.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [22]:
y=diabetes['diabetes']

In [23]:
x=diabetes[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age']]

In [27]:
x_train,x_test,y_train,y_text=train_test_split(x,y,test_size=0.20,random_state=2529)

In [29]:
x_train.shape,x_test.shape,y_train.shape,y_text.shape

((614, 8), (154, 8), (614,), (154,))